<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bgr-vide" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>BgrVideo</name><js-module name="BgrVideo" src="www/BgrVideo.js"><clobbers target="cordova.plugins.BgrVideo" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="BgrVideo"><param name="android-package" value="cordova-plugin-bgr-vide.BgrVideo" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/BgrVideo.java" target-dir="src/cordova-plugin-bgr-vide/BgrVideo" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="BgrVideo"><param name="ios-package" value="BgrVideo" /></feature></config-file><source-file src="src/ios/BgrVideo.m" /></platform></plugin>